#feedbackControlPanelContainer{
    // position: relative;
    // width: 300px;

    .fieldset-radio label {
        color: #fff;
        font-size: .8rem;
    }

    hr {
        margin: .5rem 0 .75rem;
    }

    .close-btn{
        position: absolute;
        top: .3rem;
        right: 0;
        cursor: pointer;
    }

    // .action-message {
    //     color: rgba(255,255,255,.5);
    // }

    // .is-checked {

    //     .action-message {
    //         color:#fff;
    //     }
    // }

    // .action-dialog {
    //     .icon-ui-checkbox-checked {
    //         display: none;
    //     }

    //     .icon-ui-checkbox-unchecked {
    //         display: inline-block;
    //     }

    //     .action-message {
    //         color: rgba(255,255,255,.5);
    //     }
    // }

    // .action-dialog.is-checked {
    //     .icon-ui-checkbox-checked {
    //         display: inline-block;
    //     }

    //     .icon-ui-checkbox-unchecked {
    //         display: none;
    //     }

    //     .action-message {
    //         color:#fff;
    //     }
    // }
}