#feedbackControlPanelContainer{
    position: relative;
    width: 300px;

    .fieldset-radio label {
        color: #fff;
        font-size: .8rem;
    }

    hr {
        margin: .5rem 0 .75rem;
    }

    .close-btn{
        position: absolute;
        top: .3rem;
        right: 0;
        cursor: pointer;
    }
}