#speciesSelectorDiv{
    .has-overall-feedback {
        font-weight: 600;
    }

    .has-detailed-feedback {
        font-style: italic;
    }

    .species-option {
        color: #959595;
    }

    .species-option.has-overall-feedback,
    .species-option.has-detailed-feedback {
        color: #323232;
    }
}